/**
 *
 * PAC2 - Carles Melgarejo
 * Estils CSS amb estratègia 'Mobile first'
 *
 * CONTINGUT
 *
 * SETTINGS
 * _variables.scss.................Variables globals
 *
 * GENERIC
 * _common.scss..............................Estils comuns de totes les pàgines
 *    Global-styles..........................Estils genèrics
 *    Site header styles.....................Estils de la capçalera comú a totes
 *                                            les pàgines que conté el menú
 *    Site footer styles.....................Estils del footer de totes
 *                                            les pàgines
 *    Flex & grid support....................Suport per navegadors moderns
 *
 * HOME
 * _home.scss................................Estils de la home
 *    Flex & grid support....................Suport per navegadors moderns
 *
 * MEMBRES
 * _membres.scss.............................Estils de la pàgina membres
 *    Flex & grid support....................Suport per navegadors moderns
 *
 * PROPOSTA
 * _proposta.scss............................Estils de la pàgina proposta
 *    Flex & grid support....................Suport per navegadors moderns
 *
 * CONTACTE
 * _contacte.scss............................Estils de la pàgina de contacte
 *
 * COMPONENTS
 * _common.scss
 *    Hamburger-menu-styles..................Contenidor general menú hamburguesa
 *    Icones de contacte.....................Contenidor de les icones de contacte
 *    Pre footer styles......................Estils del prefooter de totes
 *                                           les pàgines
 *
 */

.contacte-form-wrapper {
  // Box model
  max-width: 800px;
  margin: 0 auto;
}


.contacte-title-section {
  // Box model
  padding: 3rem 2.3rem 1rem 2.3rem;

  // Typography
  font-size: 3.2rem;
  font-weight: 700;
  color: #FFA34F;
  text-align: left;
}


.form-content {
  // Box model
  width: 100%;
  padding: 1rem 2.3rem 1rem;
  margin-right: auto;
  margin-left: auto;
}

.form-label {
  // Box model
  width: 100%;
}

.form-label,
.form-control {
  // Typography
  font-size: 1.6rem;
}


.email-info {
  // Typography
  font-size: 1.2rem;
  font-weight: 600;
}


.contacte-image {
  // Box model
  width: 100%;
  max-width: 760px;
  height: 36rem;
  margin-right: auto;
  margin-left: auto;

  // Visual
  object-fit: cover;

  @media screen and (min-width: 768px) {
    // Box model
    width: 76rem;
    height: auto;

    // Visual
    object-fit: inherit;
  }
}
