<footer class="site-footer">
  <div class="site-footer-content-wrapper">
    <picture class="site-footer-logo">
        <source media="(min-width: 768px)" srcset="assets/images/three-of-us-logo-new_white.svg">
        <img class="picture-image site-footer-picture-image" src="assets/images/three-of-us-logo-footer-m.svg" alt="Logo Three of us" width="185" height="105">
    </picture>

    <ul class="site-footer-menu-content">
      <li class="site-footer-menu-item">
        <a class="site-footer-menu-permalink js-footer-permalink js-footer-home" href="/">
          Home
        </a>
      </li>

      <li class="site-footer-menu-item">
        <a class="site-footer-menu-permalink js-footer-permalink js-footer-membres" href="membres.html">
          Banda
        </a>
      </li>

      <li class="site-footer-menu-item">
        <a class="site-footer-menu-permalink js-footer-permalink js-footer-proposta" href="proposta.html">
          La proposta
        </a>
      </li>

      <li class="site-footer-menu-item">
        <a class="site-footer-menu-permalink js-footer-permalink js-footer-contacte" href="contacte.html">
          Contacte
        </a>
      </li>
    </ul>

    <ul class="site-footer-social-media">
      <li class="social-media-list-item">
        <a class="social-media-permalink" href="#" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>

      <li class="social-media-list-item">
        <a class="social-media-permalink" href="#" target="_blank">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="uoc-footer">
    <p class="site-footer-content-text">
      <abbr title="Copyright">&copy;</abbr> 2022 Tots els drets reservats. Activitat realitzada per Carles Melgarejo Vila, per a l'assignatura Eines <abbr title="HyperText Markup Language">HTML</abbr> i <abbr title="Cascading Style Sheets">CSS</abbr> II. Aula 1 curs 2022-2023.
    </p>
  </div>
</footer>
