<!-- HEADER -->
<header class="site-header">
  <div class="header-content-wrapper">
    <!-- HEADER LOGO -->
    <a href="/" class="logo-wrapper">
      <img class="logo-wrapper-image" src="assets/images/three-of-us-logo-new_white.svg" loading="lazy" width="239" height="34">
    </a>

    <!-- HAMBURGER MENÚ -->
    <nav class="hamburger-menu">
      <div class="hamburger hamburger__open js-open">&#9776;</div>
      <div class="hamburger hamburger__close js-close">&#9747;</div>

      <!-- HEADER MENÚ -->
      <aside class="js-menu-content navigation-content">
        <ul class="header-menu-content">
          <li class="header-menu-content-item header-menu-home-link">
            <a class="header-menu-permalink js-menu-permalink js-home" href="/">
              Home
            </a>
          </li>

          <li class="header-menu-content-item">
            <a class="header-menu-permalink js-menu-permalink js-membres" href="membres.html">
              Banda
            </a>
          </li>

          <li class="header-menu-content-item">
            <a class="header-menu-permalink js-menu-permalink js-proposta" href="proposta.html">
              La proposta
            </a>
          </li>

          <li class="header-menu-content-item">
            <a class="header-menu-permalink js-menu-permalink js-contacte" href="contacte.html">
              Contacte
            </a>
          </li>
        </ul>

        <!-- SOCIAL MEDIA -->
        <ul class="header-social-media">
          <li class="social-media-list-item">
            <a class="social-media-permalink" href="#" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>

          <li class="social-media-list-item">
            <a class="social-media-permalink" href="#" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </li>
        </ul>
      </aside>
    </nav>
  </div>
</header>
