@use "sass:color";

$font-family-sans-serif: Montserrat, Arial, sans-serif;

$theme-colors: (
  "primary": #FD7E14, // Personalització component Bootstrap  button
  "alert-color": #084298, // Personalització component Bootstrap  alert
  "main-color": #000,
  "secondary-color": #FD7E14,
  "other-color": #FFA34F,
  "site-invert": #fff
);


$highlight: #ccc;
$bckgr: color.scale($highlight, $lightness: 80%);
