@use "sass:color";

$font-family-sans-serif: Montserrat, Arial, sans-serif;

$theme-colors: (
  "primary": #fd7e14, // Personalització component Bootstrap  button
  "alert-color": #084298, // Personalització component Bootstrap  alert
  "main-color": #000,
  "secondary-color": #fd7e14,
  "other-color": #ffa34f,
  "site-invert": #fff
);


$highlight: #ccc;
$bckgr: color.scale($highlight, $lightness: 80%);
